@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    line-height: 1.6;
    margin: 0 auto;
  }
  
  h1,
  h2,
  h3 {
    color: #000;
  }
  
  p,
  dl {
    color: #363636;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  code {
    color: #000;
    background: #efefef;
    border-radius: 6px;
    padding: 2.5px 5px;
  }

  .headerInner{
    background-color: #F9F9F9;
  }

  .bg-light{
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
  }

  .navbar-brand{
    color : #000 !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202b38;
  }

  h1,
  h2,
  h3 {
    color: #fff;
  }

  p,
  dl {
    color: #dbdbdb;
  }

  a {
    color: #dbdbdb;
  }

  code {
    color: #ffbe85;
    background: #161f27;
  }

  span{
    color: #dbdbdb;
  }

  .headerInner{
    background: #161f27;
  }

  h1{
    color: #F9F9F9;
  }

  h1:visited { color: #F9F9F9; text-decoration: none;}	

  .bg-light{
    background: #161f27;
  }

  .navbar-brand{
    color : #F9F9F9 !important;
  }
}



a {
  text-decoration: none;
}


dl, ul, ol, menu {
  list-style-type: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-top:20px;
}

.fix-header{
  position : fixed;
  width:100vw;
  z-index:999;
}

.headerEvent {
  width: 100%;
  background-color: #1646fe;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
}

.headerInner {
  width: 100%;
  
  left: 0;
  right: 0;
  z-index: 100;
  align-items: center;
  position: relative;
  height: 80px;
  padding: 0 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: 'Noto Sans KR', sans-serif;
}

@media (max-width: 1280px){
  

  .sec-area{
      float:none;
      width: auto;
  }
}

section{
  width:100%;
}

.container{
  padding : 0;
  margin:0;
  padding-top: 160px;
}
/* test */
.sub-visual{
  overflow: hidden;
  
}

.fadeIn{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeInUp{
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animate{
  animation-duration : 1s;
  animation-fill-mode : both;
}

.sub-sec{
  padding-top:100px;
}

.sub-sec-inner{
  max-width: 1200px;
  margin: 0 auto;
}


/* 애니메이션 */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.subv-background{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.subv-background.bg{
  background:url(../assets/background.png) no-repeat 50%;
  background-size: cover;
  width:100vw;
  
}

.subv-background.on{
  -webkit-transform: scale(1);
  transform: scale(1);
}

.sub-inner{
  position: relative;
  height: 380px;
  margin:0 40px;
}

.intro{
  position: absolute;
  left:0px;
  bottom:60px;
}

.sub-inner .intro h2{
  color: #fff;
  
}


.sub-inner .intro p{
  color: #fff;
  font-size :20px;
  font-weight: 300;
}

.animated{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* bloginner */

.sub-sec-nav{
  overflow: hidden;
  margin-bottom: 20px;
  margin-top:30px;
}

.sec-nav{
  display:flex;
  
  justify-content: flex-start;
  height:15px;
  align-items: center;
  padding-inline-start: 0px !important;
}

.sec-nav li{
  position : relative;
  margin-right: 30px;
}

li a{
  display: flex;
  align-items: center;
  font-size: 13px;
  justify-content:flex-start;
}


.sec-area{
  float:left;
  width: 75%;
}

.sub-title{
  position: relative;
  
}

.sub-title h3{
  font-size:38px;
}

.sub-title .more{
  position:absolute;
  right: 5px;
  top : 15px;
  
}

.m_view{
  display:none;
}

ul{
  list-style-type: none;
}

.sec-area-list01{
  margin-top:40px;
  padding:0;

}
.sec-area-list01 .sec-box{
  display:flex;
  
}

.sec-area-list01 .sec-box .sec-img{
  position: relative;
  width : 220px;
  height: 180px;
  border: 1px solid;
  border-radius: 8px;
  overflow:hidden;
}

.sec-area-list01 .sec-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

img{
  max-width: 100%;
}

.sec-cont{
  width: 72%;
  padding-left: 30px;
}

.title{
  font-size: 24px;
}

.desc{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}


.author strong{
  display: inline-block;
  position: relative;
  width: 34px;
  height: 34px;
  overflow:hidden;
  border-radius: 50%;
  margin-right:10px;
}

.author-area{
  display: flex;
  margin-top:10px;
  align-items: center;
  
}

.author strong img{
  
  width:100%;
  height: 100%;
  object-fit: cover;
  position:absolute;
}



.author-area .area-image{
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
  margin-left:15px;
  padding-left: 20px;
}

.author{
  display: inline-flex;
  align-items: center;
}

.author-area .date{
  font-size: 14px;
  font-weight: 300;
  margin-left:10px;
  margin-right:15px;
  padding-left: 10px;
}

.author-area .view{
  background: url(../assets/views.png) no-repeat left;
  background-size: 13px auto;
}

.author-area .good{
  background: url(../assets/heart.png) no-repeat left;
  background-size: 13px auto;
}

.author-area .comment{
  background: url(../assets/comment.png) no-repeat left;
  background-size: 13px auto;
}

/*오른쪽 태그*/
.sec-aside{
  width: 220px;
  float: right;
  margin-left: 60px;
}

.view-info{
  display: flex;
  margin-top:10px;
  align-items: center;
  
}

.view-info .author strong{
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow:hidden;
  border-radius: 50%;
  margin-right:10px;
}

.view-info .author strong img{
  
  width:100%;
  height: 100%;
  object-fit: cover;
  position:absolute;
}

.view-info .author em{
  font-size: 20px;
}

.view-info .area-image{
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  margin-left:15px;
  padding-left: 30px;
}

.view-info .author{
  display: inline-flex;
  align-items: center;
}

.view-info .date{
  font-size: 20px;
  font-weight: 400;
  margin-left:10px;
  margin-right:15px;
  padding-left: 10px;
  color: #999;
}

.view-info .view{
  background: url(../assets/views.png) no-repeat left;
  background-size: 20px auto;
}

.view-info .good{
  background: url(../assets/heart.png) no-repeat left;
  background-size: 20px auto;
}

.view-info .comment{
  background: url(../assets/comment.png) no-repeat left;
  background-size: 20px auto;
}

.sub-sec-content {
  margin-top:20px;
  padding-top:50px;
  border-top: 1px solid;

}


/* 글쓰는곳 */
.writeBoardform{
  width: 600px;
  margin : auto;
  margin-top:100px;
}

.BoardTitle{
  margin:20px 0;
  width:100%;
}

.sub_info{
  width: 100%;
  margin:20px 0;
}

.sub_info_tag{
  width:45%;
  margin-right:55px;
}

.sub_info_user{
  width:45%;
}

.BoardContent{
  margin:20px 0;
  width: 100%;
  height: 500px;
}
