
<!DOCTYPE html>
<head>
 
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700;900&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div data-include-path="header.html"></div>
    <div class="container">
        <section class="blog cont01">
            <div class="sub-sec-inner">
                <div class="sub-sec-nav">
                    <ul class="sec-nav">
                        <li>
                            <a href="/">
                                집
                            </a>
                        </li>
                        <li>
                            <a href="#none">
                                블로그
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sub-sec-view-title">
                    <h2>test용 test용</h2>
                    <div class="view-info">
                        <span class="author">
                            <strong>
                                <image src="http://localhost:3000/static/assets/background.png" alt></image>
                            </strong>
                            <em>test</em>
                        </span>
                        <span class="date">22.01.01</span>
                        <span class="view area-image">123</span>
                        <span class="good area-image">3</span>
                        <span class="comment area-image">3</span>
                    </div>
                </div>
                <div class="sub-sec-content">
                    
                </div>
            </div>
        </section>
    </div>
</body>

<script src="../js/includeHTML.js"></script>