<header>
  <div class="fix-header">
    <div class="headerEvent">
      <a href="https://devocean.sk.com/notice/view.do?id=178" class="eventIntro">
        <img src="http://localhost:3000/static/assets/eventIntro.png" alt="eventIntro">
      </a>
    </div>

    <div class="headerInner">
      <h1><a href="/">DEVOCEAN</a></h1>
      <div class="headerNav">
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/static/layout/blog.html">블로그</a>
            <a class="navbar-brand" href="#">전문가</a>
            <a class="navbar-brand" href="#">공지사항</a>
            <a class="navbar-brand" href="#">회원가입</a>
          </div>
        </nav>
      </div>
    </div>
      
      <div class="headerEtc"></div>
    </div>
  </div>
</header>