<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="http://localhost:3000/static/style/login.css">
    <script src="../lib/jquery-3.6.0.min.js"></script>
</head>
<body>
    <section class="login-form">
        <h1>Register</h1>ㄴ="return jbSubmit();">
            <div class="int-area">
                <input type="text" name="username" id="id" autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
            <div class="int-area">
                <input type="password" name="password" id="pw" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="int-area">
                <input type="password" name="Confim" id="pwConfirm" autocomplete="off" required>
                <label for="pw">PASSWORD COMFIRM</label>
            </div>
            <div class="btn-area">
                <button id="btn" type="submit">REGISTER</button>
                
            </div>
        </form>
        <div class="caption">
            <a href="">Forgot Password?</a>
            <a href="/">회원가입</a>
        </div>
    </section>
    <script>
        //시작
        function jbSubmit() {
            var pw1 = document.getElementById( 'pw' ).value;
            var pw2 = document.getElementById( 'pwConfirm' ).value;
            if ( pw1 != pw2 ) {
                alert( '비밀번호를 확인해주세요' );
                return false;
            }
        }
    </script>
</body>
</html>