
<!DOCTYPE html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700;900&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="http://localhost:3000/static/style/style.css">
</head>

<body>
    <header>
        <div class="fix-header">
          <div class="headerEvent">
            <a href="https://devocean.sk.com/notice/view.do?id=178" class="eventIntro">
              <img src="http://localhost:3000/static/assets/eventIntro.png" alt="eventIntro">
            </a>
          </div>
      
          <div>
            <div class="headerInner">
              <h1><a href="/">DEVOCEAN</a></h1>
              <div class="headerNav">
                <nav class="navbar navbar-expand-lg ">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="http://localhost:3000/api/render/blog">블로그</a>
                    <a class="navbar-brand" href="#">전문가</a>
                    <a class="navbar-brand" href="#">공지사항</a>
                    {% if userInfo%}
                    <a class="navbar-brand" href="/static/layout/login.html">{{userInfo}}</a>
                    {% else %}
                    <a class="navbar-brand" href="/static/layout/login.html">로그인</a>
                    {% endif %}
                  </div>
                </nav>
              </div>
            </div>
          </div>
          
          </div>
        </div>
      </header>
  <div data-include-path="../header.html"></div>
  <div class="container">
        <section class="subvisual fadeIn animate" style="visibility: visible;">
            <div class="subv-background bg on">
                <div style="max-width: 1200px;">
                    <div class="sub-inner">
                        <div class="intro">
                            <h2 class="animate fadeInUp animated" style="animation-delay: 1.5s; visibility: visible;">블로그</h2>
                            <p class="animate fadeInUp animated" style="animation-delay: 1.8s; visibility: visible;">
                                개발자들은 어떻게 문제를 해결할까?
                                <br>
                                개발자들의 생각을 읽어보세요
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sub-sec blog cont01">
            <div class="sub-sec-inner">
                <div class="sub-sec-nav">
                    <ul class="sec-nav">
                        <li>
                            <a href="/">
                                집
                            </a>
                        </li>
                        <li>
                            <a href="#none">
                                블로그
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sub-sec-aside">
                    <div class="sec-area">
                        <div class="sub-title first">
                            <h3>Tech Blog</h3>
                            <a href="./sub/index.html" class="more">더보기</a>
                        </div>
                        <ul class="sec-area-list01" id="sec-area-list01">
                            
                        </ul>
                        <a class="write_board_btn" href="http://localhost:3000/api/render/blogWrite">
                            글쓰기
                        </a>

                    </div>
                    <aside class="sec-aside">
                        <dl class="aside-area-menu">
                            <dt>Categories</dt>
                            <dd>
                                <ul class="menu_list">

                                </ul>
                            </dd>
                        </dl>
                    </aside>
                </div>
            </div>
            
        </setion>
        <form name="goForm" id="goForm">
            <input type="hidden" name="ID" id="ID">
            <input type="hidden" name="boardType" id="boardType">
            <input type="hidden" name="searchData" id="searchData" value="">
            <input type="hidden" name="page" id="page">
            <input type="hidden" name="subIndex" id="subIndex">
        </form>   
    </div>  
  <footer></footer>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="http://localhost:3000/static/js/script.js"></script>
  <script src="http://localhost:3000/static/js/includeHTML.js"></script>
  <script src="http://localhost:3000/static/js/external/blog/blog-index.js"></script>
  <script src="http://localhost:3000/static/js/external/component/BlogList.js"></script>
</body>

