
<!DOCTYPE html>
<head>
 
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700;900&display=swap" rel="stylesheet">
  
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="../../style/style.css">
</head>

<body>
    <div data-include-path="../header.html"></div>
    <div class="container">
        <section class="blog cont01">
            <div class="sub-sec-inner">
                <div class="sub-sec-nav">
                    <ul class="sec-nav">
                        <li>
                            <a href="/">
                                집
                            </a>
                        </li>
                        <li>
                            <a href="#none">
                                블로그
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="mainBlogContent">

                </div>
            </div>
        </section>
    </div>
</body>
<script src="../../js/external/component/blogDetail.js"></script>
<script src="../../js/includeHTML.js"></script>
<script src="https://code.jquery.com/jquery-3.0.0.js"></script>